.clients-bg{
    background: rgb(245 245 245 / 69%);
    padding: 14px 0 24px;
}
.clentslogo-card{
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 0px;
    cursor: pointer;
    transition: all .5s;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}
.clentslogo-card img{
    width: 100%;
    padding: 8px;
    height: 107px;
}
.more-client-btn{
    color: white;
    padding: 9px 42px;
    background: #3D00A0;
}
.client-slider .slick-slide {
    
        padding: 0 7px;
     
    }








@media screen and (max-width: 600px) {
    .section-title p {
        padding: 3px 8px!important;
        font-size: 14px!important;
    }
    .new-about-bg .offers-containt {
        padding: 36px 9px 0px 9px;
    }
    .section-title h1 {
        font-size: 28px!important;
    }
    .clients-bg {
        background: rgb(245 245 245 / 69%);
        padding: 24px 0 30px;
    }
    .more-client-btn {
        padding: 6px 15px;
    }
}